{% extends "blog/base.html" %}
{% block content %}
<h1>About me</h1>

<div class="col-md-4">
    <img src="/media/images/moryso.jpg" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
</div>


<p> I am a software engineer with a degree in BSc Mathematics and Computer Science. I have
    Specialized in Applied Mathematics option, and a final year student at Taita Taveta University.
    <p> I am a full stack software developer with skills in;</p>
    <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">Python- with Django in web
            development</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction">JavaScript-
            with Nodejs(mongodb)</a></li>

</p>



<p>Thanks for visiting my blog! Check all my projects on the github link above!</p>
{% endblock %}